(
    // max bytes of a single upload
    upload_limit_bytes: 200000000,      // 200mb

    // maximum timeout between initializing an upload and uploading bytes
    upload_timeout_secs: 30,

    // default lifespan of an upload in seconds
    upload_lifespan_secs_default: 86400,        // 1 day

    // max limit of uploaded bytes
    max_combined_upload_bytes: 5000000000,     // 5gb

    // maximum timeout between initializing a download and downloading bytes
    download_timeout_secs: 120,
)
